Source: ros-hydro-rqt-pr2-dashboard
Section: misc
Priority: extra
Maintainer: Aaron Blasdel <ablasdel@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/rqt_pr2_dashboard
Standards-Version: 3.9.2

Package: ros-hydro-rqt-pr2-dashboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-msgs, ros-hydro-pr2-msgs, ros-hydro-pr2-power-board, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-rqt-gui, ros-hydro-rqt-gui-py, ros-hydro-rqt-robot-dashboard, ros-hydro-std-msgs, ros-hydro-std-srvs
Description: rqt_pr2_dashboard is a GUI for debugging and controlling low-level state of the PR2. It shows things like battery status and breaker states, as well as integrating tools like rqt_console and robot_monitor.
